/** 
  ***** SYSTEM custom variables
*/

/** 
  * custom theme variables
*/

/* 
* custom variant
*/
/* @custom-variant dark (&:is(.dark *)); */

/* 
* theme light variables
*/
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --charcoal-black-400: #41414d;
  --charcoal-black-700: #121120;
  --midnight-slate-400: #4f4e61;
  --midnight-slate-700: #292835;
  --slate-gray-200: #d9d9d9;
  --slate-gray-300: #a1a1a1;
  --slate-gray-400: #88888f;
  --slate-gray-500: #616161;
  --royal-purple-700: #663bc3;
  --spacie-rose: #ca0185;
  --cs-blue: #5f5af5;
  --expert-dark: #131628;
  --massagueirinha-orange: #e9522d;
  --bull-blockchain-blue: #04203a;
  --car-rent-violet: #5038de;
  --localize-blue: #81d9f7;
}

/* 
* theme dark variables
*/
/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
} */

/* 
* theme inline variables
*/
@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-inter:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --spacing-home-section: calc(100vh - 4.5rem);
  --spacing-sm: 400px;
  --spacing-md: 768px;
  --spacing-lg: 1024px;
  --breakpoint-xs: 25rem;
  --breakpoint-3xl: 112rem;
  --text-shadow-sm: 0 0.0625rem 0.125rem var(--tw-shadow-color);
  --text-shadow-default: 0 0.125rem 0.25rem var(--tw-shadow-color);
  --text-shadow-lg: 0 0.5rem 1rem var(--tw-shadow-color);
  --text-shadow-primary: 0rem 0rem 0.8361rem #00000040;
  --shadow-primary:
    0rem 0.25rem 1.25rem -0.0625rem #00000040,
    0rem 0.25rem 1.25rem 0rem #2f186c1a;
  --shadow-secondary: 0rem 0.25rem 3.125rem 0rem #6a2dcea6;
  --shadow-tertiary: 0rem 0rem 0.625rem 0rem #6a2dcea6;
  --shadow-white-sm: 0rem 0rem 1.25rem 0rem #ffffff40;
  --shadow-white-md: 0rem 0rem 2.5rem 0rem #ffffff40;
  --shadow-white-lg: 0rem 0rem 5rem 0rem #ffffff40;
  --gradient-primary: linear-gradient(
    140deg,
    var(--p-gr-primary-color-1) 0%,
    var(--p-gr-primary-color-2) 95%
  );
  --gradient-secondary: linear-gradient(160deg, #d9d9d90a 10%, #ffffff01 30%);
  --gradient-tertiary: linear-gradient(
    91deg,
    var(--p-gr-tertiary-color-1) 13.25%,
    var(--p-gr-tertiary-color-2) 96.98%
  );
}

/* 
* theme inline variables
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-charcoal-black-400: var(--charcoal-black-400);
  --color-charcoal-black-700: var(--charcoal-black-700);
  --color-midnight-slate-400: var(--midnight-slate-400);
  --color-midnight-slate-700: var(--midnight-slate-700);
  --color-slate-gray-200: var(--slate-gray-200);
  --color-slate-gray-300: var(--slate-gray-300);
  --color-slate-gray-400: var(--slate-gray-400);
  --color-slate-gray-500: var(--slate-gray-500);
  --color-royal-purple-700: var(--royal-purple-700);
  --color-spacie-rose: var(--spacie-rose);
  --color-cs-blue: var(--cs-blue);
  --color-expert-dark: var(--expert-dark);
  --color-massagueirinha-orange: var(--massagueirinha-orange);
  --color-bull-blockchain-blue: var(--bull-blockchain-blue);
  --color-car-rent-violet: var(--car-rent-violet);
  --color-localize-blue: var(--localize-blue);
}

/** 
  * custom background gradient
*/

/* 
* bg-gradient-primary
*/
@property --p-gr-primary-color-1 {
  syntax: '<color>';
  initial-value: #ffffff33;
  inherits: false;
}

@property --p-gr-primary-color-2 {
  syntax: '<color>';
  initial-value: #00000099;
  inherits: false;
}

/* 
* bg-gradient-tertiary
*/
@property --p-gr-tertiary-color-1 {
  syntax: '<color>';
  initial-value: #4728d3;
  inherits: false;
}

@property --p-gr-tertiary-color-2 {
  syntax: '<color>';
  initial-value: #663bc2;
  inherits: false;
}
