@layer components {
  .form-input {
    @apply w-full rounded-lg px-4 py-2;
  }

  .form-input-primary {
    @apply border-charcoal-black-400 bg-charcoal-black-700 group-hover/contactFormContainer:shadow-tertiary min-h-[2.625rem] border text-base text-neutral-100 transition-all duration-500 outline-none group-hover/contactFormContainer:border-violet-700 placeholder:text-sm placeholder:text-gray-500 focus:border-violet-700 focus:ring-2 focus:ring-violet-700 focus:outline-none;
  }

  .form-error {
    @apply block text-start text-sm font-medium text-red-600;
  }

  .bg-gradient-primary {
    background: var(--gradient-primary);
    transition:
      --p-gr-primary-color-1 0.4s,
      --p-gr-primary-color-2 0.4s;
  }

  .bg-gradient-primary:hover {
    --p-gr-primary-color-1: #00000099;
    --p-gr-primary-color-2: #ffffff33;
  }

  .bg-gradient-secondary {
    background: var(--gradient-secondary);
  }

  .bg-gradient-tertiary {
    background: var(--gradient-tertiary);
    transition:
      --p-gr-tertiary-color-1 1s,
      --p-gr-tertiary-color-2 1s;
  }

  .bg-gradient-tertiary:hover {
    --p-gr-tertiary-color-1: #663bc2;
    --p-gr-tertiary-color-2: #4728d3;
  }
}
