@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import './base.css';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.form-input {
  @apply w-full rounded-lg px-4 py-2;
}

.form-input-primary {
  @apply border border-white/20 bg-charcoal-black-700 text-base text-neutral-100 outline-none transition-all duration-500 placeholder:text-sm placeholder:text-white/40 focus:border-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-700 group-hover/contactFormContainer:border-violet-700 group-hover/contactFormContainer:shadow-tertiary;
}

.form-error {
  @apply mt-1 block text-start text-sm font-medium text-red-600;
}

/**
  * Scrollspy
*/
.active-scroll-spy {
  @apply text-neutral-100;
}

.active-scroll-spy > .link-border {
  @apply block h-0.5 translate-y-[6px] rounded-full bg-neutral-100;
}

/** 
  * Custom animation
*/
@keyframes wiggleUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/** 
  * Toast
*/
.react-hot-toast__container {
  @apply !bottom-[90px] !right-6;
}

.react-hot-toast__toast {
  @apply !bg-transparent !p-0;
}

.react-hot-toast__toast > div {
  @apply !m-0;
}

